
/* https://colorpalettes.net/color-palette-4026/ */
.light-green{
    background-color: #d0e1ca;
}

.ultra-light-green {
background-color: #ecf5ed;
}


.carusel-bg-transition{
background: #d0e1ca;
background-image: url("IMAGE_URL"); /* fallback */
background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531); /* W3C */
}

.footer-style{
    padding-top: 5px;
    background-color: #aec5aa;
    min-height: 40px
}

/* */
.content-style{
    background-color: #ecf5ed;
    padding: 5px;
    padding-bottom: 30px;
    min-height: 100px;
    border-left: solid 1px #aec5aa;
    border-right: solid 1px #aec5aa;

}

.footer-left{
    position: relative;
    left: 5px; 
    float: left;
}

.footer-right{
    position: relative;
    right: 5px; 
    float: right;
}


.common-object-list {
    -webkit-columns: 25% 4;
    -moz-columns: 25% 4;
    columns: 25% 4;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .common-object-list ul li {
    list-style: none;
    padding-top: 5px; 
  }

  .pagination{
      margin: auto 0;
      position: relative;
      display: block;
  }

.footer-left ul {
list-style: none;
}
.footer-left ul li {
    float: left;
    padding-left: 5px;
}