
/* https://colorpalettes.net/color-palette-4026/ */
.light-green{
    background-color: #d0e1ca;
}

.ultra-light-green {
background-color: #ecf5ed;
}


.carusel-bg-transition{
background: #d0e1ca;
background-image: url("IMAGE_URL"); /* fallback */
background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531); /* W3C */
}

.footer-style{
    padding-top: 5px;
    background-color: #aec5aa;
    min-height: 40px
}

/* */
.content-style{
    background-color: #ecf5ed;
    padding: 5px;
    padding-bottom: 30px;
    min-height: 100px;
    border-left: solid 1px #aec5aa;
    border-right: solid 1px #aec5aa;

}

.footer-left{
    position: relative;
    left: 5px; 
    float: left;
}

.footer-right{
    position: relative;
    right: 5px; 
    float: right;
}


.common-object-list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .common-object-list ul li {
    list-style: none;
    padding-top: 5px; 
  }

  .pagination{
      margin: auto 0;
      position: relative;
      display: block;
      text-align: center;
  }

.footer-left ul {
list-style: none;
}
.footer-left ul li {
    float: left;
    padding-left: 5px;
}

div.pagination{
    margin: 0 auto;
    width: 50%;
    font-size: 1.5em;
}

.tabs {
    font-size: 0;
  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
  }

  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3,
  #tab-btn-4:checked~#content-4 {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

  .map{
    width: 100%;
    height: 500px;
}

#home-page{
  color: #00b809;
  text-shadow: 1px 1px black;
}

.flex-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container1{
  display: flex;
}

.container2{
  display: flex;
}

.black-block{
  background-color: black;
}

.slide-text{
  font-size: 50px;
}