{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} Rare and Vanishing Plants of Russian Far East {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/custom_styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="ultra-light-green">
<div class="container">
          <nav class="navbar navbar-expand-md navbar-light light-green">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                        data-target="#navbarCollapsed" 
                        aria-controls="navbarCollapsed" 
                        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
 

                <div class="collapse navbar-collapse" id="navbarCollapsed">
                    {% if pages %}
                      <ul class="navbar-nav mr-auto">                 
                        {%for page in pages %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ page.get_absolute_url }}"> {{ page.title }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search-view' %}">
                    <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
          

          {% if title_images %}
          <div id="titleCarousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="true">
              <div class="carousel-inner">
                  {% for img in title_images %}
                      <div class="carousel-item {% if forloop.first %} active {% endif %}">
                          <img src="/{{ img.image }}" class="d-block w-100" alt="{{ img.caption|striptags }}">
                          {% if img.caption %}
                              <div class="carousel-caption">
                                  {{ img.caption|safe }}
                              </div>
                          {% endif %}
                      </div>
                  {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#titleCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#titleCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            {% endif %}

  <div class="row">
          <div class="col-sm-12">
            <div class="content-style">
                {% block content %}{% endblock %}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="footer-style">
                {% block footer %}
                <div class="footer-left">
                  <ul style="padding: 0px; margin:0px">
                    <li><a href="https://github.com/vbgi/flora-db/" title="View project on GitHub">
                        <img src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" width="30px">
                    </li>
                    <li><a href="http://botsad.ru/" title="Botanical Garden-Institute FEB RAS">
                        <img src="http://botsad.ru/static/images/bgi_logo.png" width="30px">
                    </li>
                  </ul>
                </div>
                <div style="text-align: center; padding: 0px;margin:0px">
                    <h7>Botanical Garden Insitute FEB RAS &mdash; 2019 </h7>
                </div>
                {% endblock %}
            </div>
          </div>
  </div>
</div>
</body>
</html>