{% extends 'base.html' %}
{% block content %}
{% if object %}

{% if object.full_name_as_html %}
    <h1>{{ object.full_name_as_html }}</h1>
{% else %}
    <h1>{{ object }}</h1>
{% endif %}

{% if object.authorship %}
    <p><strong>Authorship:</strong>  <em>{{ object.authorship }}</em> </p>
{% endif %}

{% if object.genus.family %}
    <p><strong>Family:</strong> <a href="{% url 'family-detail' object.genus.family.name %}">{{ object.genus.family }}</a></p>
{% elif object.family %}
    <p><strong>Family:</strong> <a href="{% url 'family-detail' object.family.name %}">{{ object.family }}</a></p>
{% endif %}

{% if object.genus %}
    <p><strong>Genus:</strong>  <a href="{% url 'genus-detail' object.genus.name %}"> <em>{{ object.genus }}</em> </a></p>
{% endif %}

{{ object.info }}

{% if object.occurrences.all %}
    <hr>
    <h3>Occurrences: </h3>

    <div class="common-object-list">
        <ol>
            {% for ocr in object.occurrences.all %}
            <li>
                <a href="{{ ocr.get_absolute_url }}">
                    {{ ocr.name }}
                    {% if ocr.name == "Not defined" %} ({{ ocr.abbr }}){% endif %}
                </a>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}

{% if object.links.all %}
    <hr>
    <h3>Links: </h3>
    <div class="common-object-list">
        <ol>
            {% for link in object.links.all %}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
        </ol>
    </div
{% endif %}

{% if object.genus_set %}
<hr>
<h3>Related genera: </h3>
<div class="common-object-list">
    <ol>
        {% for obj in object.genus_set.all %}
        <li>
            <a href="{% url 'genus-detail' obj.name %}"><em>{{ obj }}</em></a>
        </li>
        {% endfor %}
    </ol>
</div>
{% endif %}

{% if object.species_set %}
<hr>
<h3>Related species: </h3>
<div class="common-object-list">
    <ol>
        {% for obj in object.species_set.all %}
        <li>
        <a href="{% url 'species-detail' obj.pk %}"><em>{{ obj }}</em></a>
        </li>
        {% endfor %}
    </ol>
</div>
{% endif %}

<script>
  let my_str = "{{ coordinates }}&#x27;";
  let new_str = my_str.split('&#x27;').join('');
  let new_str1 = new_str.split("&#39;").join('');
  let new_str2 = new_str1.split('[').join('');
  let new_str3 = new_str2.split(']').join('');
  let new_str4 = new_str3.split(' ');
  let coordinates = []
  for(let i = 0; i < new_str4.length; i++){
      raw_coordinates = new_str4[i].split(',')
      coordinates.push([raw_coordinates[0], raw_coordinates[1]]);
  }
</script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=5c7f35d3-c0fc-4526-a93b-f13a3956ae28&lang=ru_RU"></script>
<script src="../static/scripts/scripts.js"></script>
<div id="map" class="map">

</div>

{% endif %}
{% endblock content %}