{% extends 'base.html' %}
{% block content %}
{% if object %}
<h1>{{ object }}</h1>

{% if object.genus.family %}
    <p><strong>Family:</strong> <a href="{% url 'family-detail' object.genus.family.pk %}">{{ object.genus.family }}</a></p>
{% endif %}

{% if object.genus %}
    <p><strong>Genus:</strong>  <a href="{% url 'genus-detail' object.genus.pk %}"> {{ object.genus }} </a></p>
{% endif %}

{{ object.info }}

{% if object.occurrences.all %}
    <h3>Occurrences: </h3>
    {{ object.occurrences.first }}
{% endif %}

{% if object.links.all %}
    <h3>Links: </h3>
    <ul>
    {% for link in object.links.all %}
        <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if object.genus_set %}
<hr>
<h3>Related genera: </h3>
<ul>
    {% for obj in object.genus_set.all %}
    <li>
       <a href="{% url 'genus-detail' obj.pk %}">{{ obj.genus }}</a>
    </li>
    {% endfor %}
</ul>

{% endif %}


{% endif %}
{% endblock content %}