{% extends 'base.html' %}

{% block  content %}
{% if locations or species or genera or families %}
    {% if locations %}
        <h2>Locations: </h2>
        <ul>
        {% for location in locations %}
            <li>
                <a href="{% url  'location-detail' location.pk %}">{{ location }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if species %}
        <h2>Species: </h2>
        <ul>
        {% for sp in species %}
            <li>
                <a href="{% url  'species-detail' sp.pk %}">{{ sp }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if genera %}
        <hr>
        <h2>Genera: </h2>
        <ul>
        {% for genus in genera %}
            <li>
                <a href="{% url  'genus-detail' genus.pk %}">{{ genus }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if families %}
        <hr>
        <h2>Families: </h2>
        <ul>
        {% for family in families %}
            <li>
                <a href="{% url  'family-detail' family.pk %}">{{ family }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
<h1>
    No records found for the current search query.
</h1>
{% endif %}
{% endblock content %}
